@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
/* Beginning of Navbar */

div nav h1#one {
    position: absolute;
    width: 74px;
    height: 118px;
    left: 30px;
    top: -12px;
    font-family: 'Fredericka the Great', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 118px;
    color: #210136;
}

/* End of Navbar */